* {
  box-sizing: border-box;
}
article {
  margin: 20px;
  width: 300px;
  padding: 30px;
  background: linear-gradient(to right, #2af4f9, #4fb5a3);
  border-radius: 5px;
  color: white;
}

.orderNumbers {
  margin-bottom: 50px;
  font-size: 26px;
  font-weight: bold;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.circle1,
.circle2 {
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 50%;
  opacity: 0.3;
}

.circle1 {
  top: 110px;
  left: 190px;
}

.circle2 {
  left: 250px;
  top: 5px;
}
